@use "components";

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

body {
    padding: 0;
    margin: 0;  
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}

.logo a img {
    max-width: 15rem;
}

.sec-home {
    display: flex;
    @include section-display();
    justify-content: center;
    align-items: center;
    .home-cta {
        flex: 1;
        margin-right: 5rem;
        .cta-text {
            color: components.$color_main;
        }
        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
    }
}

.sec-features {
    @include section-display(); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features {
        display: flex;
        gap: 1rem;
        align-items: center;
        .text {
            padding: 2rem 0;
            flex: 1;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: center;
                .description {
                    margin-left: 1.15rem;
                    max-width: 20rem;
                    .description-title {
                        font-size: 1.25rem;
                    }
                    .description-text {
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        .image {
            max-width: 30rem;
        }
    }
}

.sec-benefits {
    border-top: 1px solid #ddd;
    .intro {
        @extend .sec-features, .intro;
    }
    .benefit-cards {
        width: 100%;
        padding: 0 2rem 2rem 2rem;
    }
}

.sec-kpis {
    width: 100%;
    background-color: components.$color_main;
    color: white;
    padding: 4rem;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 3.5rem;
            font-weight: 600;
            .desc {
                font-size: 0.9rem;
                color: #ffffffaa;
            }
        }
    }
}

.sec-onboarding {
    .intro {
        @extend .sec-features, .intro;
    }
    .steps {
        padding: 0 7rem 5rem 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .step-separator {
            flex: 1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
        }
    }
}