/* Crea un nuevo documento HTML con el título "Animaciones y transiciones en CSS"
Crea un nuevo fichero CSS e impórtalo en el documento HTML principal

Implementa las líneas necesarias en el CSS para que 
cuando el ratón pase por encima 
del botón ocurra lo siguiente (hover):
El botón se traslade -5px en el eje de las Y
Se añada una sombra
El color de fondo del botón cambie
El color del texto cambie
Todo esto con una transición de 0.4s 
*/
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    transition: all 0.4s;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px 5px pink;
    background-color: aqua;
    color: red;
    border: none;
    font-weight: 900;
}






